* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: rgb(179, 179, 179);
}

body {
    background-image: url(./assets/images/background_1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    backdrop-filter: blur(9px);
    transition: 0.5s;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.player {
    position: relative;
    width: 805px;
    height: 670px;
    border-radius: 10px;
    border: 5px solid rgb(36, 36, 36);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 2;
    text-align: center;
    padding: 15px;
}

.audio-system {
    display: flex;
    flex-direction: row;
}

.circle {
    position: absolute;
    width: 175px;
    height: 175px;
    background: linear-gradient(49deg, #808080 0%, #303030 50%, #000000 80%);
    border-radius: 95px;
    left: 538px;
}

.cover-img {
    position: relative;
    block-size: 595px;
    transform: rotate(44deg);
}

.cover-img.start {
    animation: rotateAnimation 2s linear forwards;
}

@keyframes rotateAnimation {
    to {
        transform: rotate(44deg);
    }
}

.cover-img.active {
    animation: rotation 9s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(44deg);
    }
    to {
        transform: rotate(404deg);
    }
}

.tonearm-img {
    position: relative;
    block-size: 390px;
    top: 27px;
    left: -203px;
    transform: rotate(331deg);
    transform-origin: 79.5% 14.6%;
}

.tonearm-img.play {
    animation: play 2s forwards;
}

@keyframes play {
    from {
        transform: rotate(331deg);
    }
    to {
        transform: rotate(346deg);
    }
}

.tonearm-img.stop {
    animation: stop 2s forwards;
}

@keyframes stop {
    from {
        transform: rotate(346deg);
    }
    to {
        transform: rotate(331deg);
    }
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    font-size: 14px;
    color: #8d8d8d;
    font-weight: bold;
    margin: 10px;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    color: white;
    background-color: rgb(48, 48, 48);
    box-shadow: 0 0px 10px rgb(0, 0, 0);
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    background-color: rgb(37, 37, 37);
    transition: 0.5s;
}

input[type='range'] {
    appearance: none;
    background: rgb(15, 15, 15);
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    cursor: pointer;
    height: 3px;
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: linear-gradient(
        90deg,
        #d1d1d1 0%,
        #000000 25%,
        #5e5e5e 50%,
        #000000 75%,
        #d1d1d1 100%
    );
    border-radius: 1px;
    cursor: pointer;
}

.time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.volume-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.display-volume {
    text-align: start;
}

.time-progress {
    width: 65px;
    text-align: start;
}

.time-full {
    width: 65px;
}

.progress {
    /* margin: 0px 10px 0px 10px; */
    width: 77px;
    text-align: start;
}

.volume-control {
    position: absolute;
    transform: rotate(270deg);
    top: 415px;
    left: 683px;
    width: 140px;
    height: 30px;
    background: linear-gradient(270deg, #4d4d4d 0%, #212121 100%);
    border-radius: 5px;
    border: 2px solid #1e1e1e;
}

.display {
    position: absolute;
    top: 532px;
    left: 528px;
    width: 246px;
    height: 110px;
    background-color: rgb(5, 71, 252);
    border-radius: 5px;
    border: 8px solid rgb(36, 36, 36);
    padding: 0px 2px 0px 2px;
}

.display-font {
    font-family: 'Codystar', cursive;
    font-size: 27px;
    white-space: nowrap;
    overflow: hidden;
}

.title-song {
    animation: line 10s linear infinite alternate;
    text-align: start;
}

@keyframes line {
    0% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-150%);
    }
}

.play-btn {
    position: relative;
    top: -48px;
    left: -300px;
    width: 70px;
    height: 70px;
    border: 2px solid rgb(5, 133, 252);
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}
.play-btn.waiting {
    animation: flash 0.8s ease-in-out infinite alternate;
}

@keyframes flash {
    0% {
        border-color: transparent;
    }
    100% {
        border-color: rgb(5, 133, 252);
    }
}

.back-btn {
    position: relative;
    top: -25px;
    left: -290px;
    padding-right: 2px;
}

.forward-btn {
    position: relative;
    top: -25px;
    left: -283px;
    padding-left: 2px;
}

footer {
    margin-top: -47px;
}

.fonts-for-footer {
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    color: rgb(179, 179, 179);
    display: flex;
    justify-content: space-between;
    width: 790px;
    max-width: 100%;
}

.logo {
    width: 80px;
}

@media (max-height: 768px) {
    footer {
        position: absolute;
        margin-top: 0px;
        display: none;
    }
}

.switch input {
    display: none;
}

.switch {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 38px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9b2626;
    transition: 0.4s;
    border: 2px solid #1e1e1e;
}

.slider:before {
    position: absolute;
    content: '';
    height: 34px;
    width: 34px;
    left: 0;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #4b4b4b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4b4b4b;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
