html {
  background-color: grey;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  background-color: #FFF;
}

header {
  background: #0C0C0E;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

p {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

nav {
  display: flex;
}

ul {
  display: flex;
}

ul > li {
  list-style-type: none;
  margin: 0px 0px 0px 30px;
}

li > p {
  color: white;
  line-height: 50px;
  margin: 0;
  cursor: pointer;
  transition: opacity 0.5s;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  transition: 0.5s;
}

.profile {
  margin-left: 40px;
  margin-right: 14px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 3;
}

.profile #Subtract {
  transition: 0.5s;
}

.profile #Subtract:hover {
  fill: #BB945F;
  transition: 0.5s;
}

h1 {
  font-family: "Forum", cursive;
  font-weight: 400;
  color: white;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin: 20px;
  flex-grow: 1;
  font-size: 30px;
}

h2 {
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

h3 {
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.text-season {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.inter {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  transition: 0.5s;
}

.inter:hover {
  color: #BB945F;
  transition: 0.5s;
}

@media (max-width: 1075px) {
  .profile.active {
    z-index: 3;
    margin-right: 14px;
    transition: 0.3s;
  }
  .burger {
    z-index: 3;
    position: relative;
    height: 20px;
    width: 45px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: -3px;
    margin-left: 20px;
  }
  .burger {
    margin-right: 25px;
  }
  .burger span,
  .burger::before,
  .burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: 0.3s ease-in-out;
    background-color: #ffffff;
  }
  .burger::before,
  .burger::after {
    content: "";
  }
  .burger::before {
    top: 9px;
  }
  .burger::after {
    bottom: 0;
  }
  .burger.active span {
    top: 50%;
    left: 6px;
    transform: rotate(-45deg) translate(-1px, 50%);
  }
  .burger.active::before {
    display: none;
  }
  .burger.active::after {
    top: 50%;
    left: 7px;
    transform: rotate(45deg) translate(1px, 50%);
  }
  .burger-menu > ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: space-between;
  }
  ul > li {
    margin: 0;
  }
  .burger-menu {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 332px;
    height: 375px;
    background-color: #000;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition: all 0.6s ease 0s;
    z-index: 3;
    padding-top: 98px;
    padding-bottom: 97px;
    visibility: hidden;
    transform: translate(100%, 0px);
  }
  .burger-menu.active {
    visibility: visible;
    transform: translate(0%, 0px);
  }
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
  }
  header .active + .overlay {
    opacity: 1;
    z-index: 2;
  }
  body.lock {
    overflow: hidden;
  }
}
.welcome-bg {
  position: relative;
  max-width: 1440px;
  background: url(./assets/image/welcome-bg.jpg);
  height: 600px;
  transition: 0.5s;
}

.welcome-box {
  position: relative;
  top: 220px;
  display: flex;
  width: 600px;
  height: 220px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #0C0C0E;
}

.welcome-box > h3 {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .welcome-bg {
    background: url(./assets/image/welcome-bg_small.jpg);
    transition: 0.5s;
  }
}
.content {
  width: 97.2%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FFF;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-title > h2 {
  margin: 20px;
}

.section-title > p {
  line-height: 40px;
}

.line {
  border: 1px solid black;
  width: 50px;
  margin-bottom: 19px;
}

.about-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.slide {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  transition: 0.4s;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

.image {
  width: 450px;
  height: 560px;
  position: relative;
  margin-right: 25px;
}

.caret-left {
  display: none;
}

.caret-right {
  display: none;
}

.visible_1 {
  display: none;
}

.visible_2 {
  display: none;
}

.content:last-child {
  align-items: center;
}

.about-radio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio_container {
  display: flex;
  justify-content: space-around;
  width: 77px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.enable_1 {
  display: none;
}

.enable_2 {
  display: none;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.new-radio {
  width: 26px;
  height: 26px;
  position: relative;
  cursor: pointer;
}

.new-radio::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0C0C0E;
  transition: 0.5s;
  top: 5px;
  left: 5px;
}

.new-radio:checked::before {
  background-color: #BB945F;
  transition: 0.5s;
}

@media (max-width: 1439px) {
  .disable_1 {
    display: none;
  }
  .enable_1 {
    display: block;
  }
  .radio_container {
    width: 100px;
  }
  .about-images {
    justify-content: center;
  }
  #overflow {
    display: flex;
    justify-content: flex-start;
    width: 75%;
  }
  .image {
    margin-right: 75px;
  }
  .slide {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media (max-width: 1340px) {
  .about-images {
    justify-content: center;
  }
  .slide {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .caret-left {
    display: block;
    position: relative;
    top: 20px;
    left: -3px;
  }
  #overflow {
    width: 75%;
    overflow: hidden;
    justify-content: center;
  }
  .image {
    left: 1398px;
    margin-left: 207px;
  }
  .caret-right {
    display: block;
    position: relative;
    top: 20px;
    left: 3px;
  }
  .disable_2 {
    display: none;
  }
  .enable_2 {
    display: block;
  }
  .radio_container {
    width: 130px;
    margin-top: 20px;
  }
  .about-title {
    width: 95%;
  }
}
.favorites-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.favorites-content > p {
  font-weight: 700;
  line-height: normal;
}

.seasons-container {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-bottom: 29px;
  margin-top: 11px;
}

.season:last-child {
  padding-left: 13px;
}

.season {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.season-radio {
  width: 17px;
  height: 17px;
  position: relative;
  border: 2px solid #000;
  border-radius: 50%;
  margin-top: 3px;
  transition: 0.5s;
  cursor: pointer;
}

.season-radio::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.season-radio:checked::before {
  background-color: #0C0C0E;
}

label {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  transition: 0.5s;
  padding: 5px 5px 5px 20px;
  cursor: pointer;
  width: 68px;
}

.season input[type=radio]:checked + label {
  font-weight: 700;
}

.favorites-items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.book {
  background: #FFF;
  max-width: 571px;
  height: 555px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 15px 15px 19px;
  margin-bottom: 10px;
  margin-right: -16px;
}

.book::before {
  position: absolute;
  content: "";
  border: 1px solid #000;
  width: 548px;
  height: 553px;
  margin-left: -19px;
  margin-top: -15px;
}

.book-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.book-content > h3 {
  font-size: 20px;
  margin: 0;
}

.book-content > .line {
  border: 1px solid #BB945F;
  width: 58px;
  margin-bottom: 20px;
  margin-top: -3px;
}

.title-author {
  margin-bottom: 20px;
  width: 408px;
}

.title-author > p:first-child {
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

.title-author > p:last-child {
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
}

.discription {
  flex-grow: 100;
  padding-right: 49px;
}

.discription > p:first-child {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
}

.btn-text {
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  margin: 0;
  transition: 0.5s;
}

.btn-text:hover {
  transition: 0.5s;
  background-color: #BB945F;
}

button {
  width: 75px;
  height: 30px;
  border: 1px solid #0C0C0E;
  border-radius: 2px;
  background-color: transparent;
  margin-top: 15px;
  flex-grow: 1;
  z-index: 1;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  border: 1px solid #BB945F;
}

.gold-btn {
  border: 1px solid #BB945F;
  color: #BB945F;
  cursor: auto;
}

.gold-btn[disabled]:hover {
  background-color: #FFF;
}

.book-img {
  display: flex;
  width: 200px;
  height: 300px;
  margin-bottom: 15px;
  z-index: 1;
  top: 241px;
  position: relative;
  transition: 0.5s;
  left: -38px;
}

.book-img:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 67px -12px rgb(12, 12, 14);
}

@media (max-width: 1220px) {
  .favorites-items {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .favorites-content {
    margin-left: 9px;
  }
}
@media (max-width: 767px) {
  .seasons-container {
    width: 100%;
  }
}
.letter-sp {
  letter-spacing: 2px;
}

.shop-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.menu-1 > h3 {
  margin: 0;
  color: #BB945F;
}

.menu-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu-2 > h3 {
  margin: 0;
  color: #BB945F;
}

.box-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 520px;
  width: 438px;
}

.box-menu_item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.reverse {
  display: flex;
  align-items: flex-end;
  margin-left: -23px;
}

.box-menu_item > p {
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
}

.box-menu_item > h3 {
  font-size: 20px;
  margin: 0;
}

.box-menu_item > .line {
  width: 100px;
  border: 1px solid #BB945F;
  margin-top: 18px;
  margin-bottom: 20px;
}

@media (max-width: 980px) {
  .menu {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .menu-1 {
    margin-left: 9px;
  }
  .menu-2 {
    margin-right: 9px;
  }
}
.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.contacts-box {
  display: flex;
  flex-direction: column;
}

.contacts-box > p {
  margin-bottom: 17px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts-box > p > a {
  color: #000;
}

.contacts-box > p > a:hover {
  color: #BB945F;
  transition: 0.5s;
}

.bold {
  font-weight: 700;
}

.bold > a {
  font-weight: 700;
  color: #000;
}

.bold > a:hover {
  color: #BB945F;
  transition: 0.5s;
}

.padding {
  padding-bottom: 20px;
}

.img-map {
  margin-top: 12px;
}

@media (max-width: 768px) {
  .contact {
    justify-content: space-around;
  }
  .contacts-box {
    margin-left: 9px;
    flex-grow: 1;
  }
  .img-map {
    margin-top: 92px;
  }
}
@media (max-width: 767px) {
  .img-map {
    width: 100%;
  }
}
.card-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.your-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.your-card::before {
  position: absolute;
  content: "";
  border: 3px solid #BB945F;
  width: 592px;
  height: 379px;
  margin-left: 20px;
  margin-top: 86px;
  box-shadow: 0px 7px 14px -7px rgb(0, 0, 0);
}

.your-card > p {
  font-size: 30px;
  line-height: normal;
  letter-spacing: 0.6px;
  margin: 0;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 19px;
}

.field-card {
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 232px;
  background-color: #BB945F;
  padding: 20px;
  margin-left: 20px;
}

.field-card > h3 {
  margin-left: 20px;
  color: #000;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin: 0;
  margin-bottom: 10px;
}

.your-card > button {
  width: 242px;
  height: 44px;
  margin-left: 20px;
  margin-top: 21px;
  margin-bottom: 70px;
}

.field-card > input {
  height: 62px;
  width: 495px;
  border-radius: 10px;
  border: 1px solid #FFF;
  margin-top: 10px;
  z-index: 1;
}

.button-check {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  transition: 0.5s;
}

button:hover .button-check {
  color: #BB945F;
}

button:hover .text-btn {
  color: #BB945F;
}

.field-card > input:last-child {
  margin-top: 25px;
}

input::-moz-placeholder {
  color: #8E8E8E;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

input::placeholder {
  color: #8E8E8E;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.style-place {
  color: #BB945F;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  padding-left: 21px;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.registration > h3 {
  text-align: center;
  font-size: 30px;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: none;
  margin: 0;
  margin-top: 19px;
}

.reg-box {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;
  text-align: right;
  width: 456px;
  margin: 0;
  margin-top: 36px;
}

.reg-btn > button {
  width: 75px;
  height: 30px;
  margin-left: 15px;
  margin-top: 35px;
}

.text-btn {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  transition: 0.5s;
}

@media (max-width: 1100px) {
  .card-box {
    flex-direction: column;
    margin-left: -17px;
  }
  .registration {
    align-items: center;
  }
  .registration > h3 {
    margin-left: 20px;
  }
  .reg-box {
    width: 75%;
    text-align: center;
    margin-left: 20px;
    margin-top: 41px;
  }
  .reg-btn {
    margin-bottom: 40px;
    margin-left: 4px;
    margin-top: 5px;
  }
  .your-card > button {
    margin-bottom: 31px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #0C0C0E;
}

.footer > .content {
  background-color: #0C0C0E;
}

.top {
  display: flex;
  justify-content: space-between;
}

.left-box {
  width: 230px;
  margin-top: 19px;
}

.left-box a > span {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  font-size: 15px;
  line-height: 20px;
  transition: 0.5s;
}

.left-box a > span:hover {
  color: #BB945F;
  transition: 0.5s;
}

.left-box > ul {
  padding: 0;
}

.icons-box {
  margin-top: 19px;
  width: 130px;
}

.icon {
  margin-right: 16px;
}

.icon #Vector1 {
  transition: 0.5s;
}

.icon #Vector1:hover {
  fill: #BB945F;
  transition: 0.5s;
}

.icon #Vector2 {
  transition: 0.5s;
}

.icon #Vector2:hover {
  fill: #BB945F;
  transition: 0.5s;
}

.icon #Vector3 {
  transition: 0.5s;
}

.icon #Vector3:hover {
  fill: #BB945F;
  transition: 0.5s;
}

.icons-box > li {
  margin: 0;
}

.right-box {
  width: 150px;
  margin-bottom: 13px;
}

.right-box > p {
  color: #FFF;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
}

.right-box > p:first-child {
  margin-top: 19px;
}

.right-box > p:last-child {
  margin-top: -4px;
}

.line-footer > .line {
  border: 1px solid #FFF;
  width: 100%;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom > p {
  color: #FFF;
  text-align: center;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 34px;
}

.bottom > p > a:hover {
  color: #BB945F;
  transition: 0.5s;
}

.bottom > .margin {
  margin-left: 25px;
}

@media (max-width: 768px) {
  .top {
    width: 99%;
  }
  .left-box {
    margin-left: 7px;
  }
  .line-footer {
    width: 98%;
    margin-left: 7px;
  }
  .bottom {
    width: 98%;
    margin-left: 9px;
  }
  .bottom > .margin {
    margin-left: -34px;
  }
}/*# sourceMappingURL=style.css.map */