* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
}

html {
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: rgb(179, 179, 179);
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.top-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.choice-api {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    width: 250px;
    justify-content: space-between;
}

.logo-api {
    width: 150px;
    /* filter: invert(100%); */
}

.img {
    margin: 2px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.fonts-for-footer {
    margin: 0 auto;
    color: rgb(128, 128, 128);
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.logo {
    width: 80px;
}
